
.question-page {
  background-color: $c_gr100;
  width: 100%;
  box-sizing: border-box;
  padding-top: 50px;
  position: relative;
  text-align: center;
  min-height: 100vh;

  ul {
    @media (max-height: 568px) {
      padding-bottom: 3em;
    }
    @media (max-height: 480px) {
      padding-bottom: 5em;
    }
  }

  .logo {
    margin-top: 100px;
    margin-bottom: 40px;
    background: url('../images/logo.png') no-repeat center center;
    background-size: 250px;
    height: 64px;

    @media (max-width: $resp_size_tablet) {
      margin-top: 60px;
      margin-bottom: 40px;
    }
  }
}

//quick launch links on homepage
.quicklaunch {

  width: 640px;

  @media (max-width: $resp_size_tablet) {
    width: 294px;
  }

  margin: 40px auto 0;
  text-align: left;

  &--title {
    font-size: 18px;
    color: white;
  }
  > ul {
    display: flex;
    margin-top: 12px;
    flex-wrap: wrap;
    justify-content: space-between;

    @media (max-width: $resp_size_tablet) {
      margin-bottom: 0;
    }
  }
  &--item > a {
    display: inline-block;
    border-radius: 4px;
    width: 294px;
    background: white;
    margin-bottom: 10px;
    padding: 6px 6px 0px 36px;
    color: #00cd75;
    transition: color 0.15s ease;
    &:hover {
      color: #2196F3;
    }
    &:before {
      content: "";
      width: 28px;
      height: 28px;
      margin-top: -2px;
      margin-left: -32px;
      display: inline-block;
      float: left;
      background-size: cover;
      background-image: url('../images/searchIcon.png');
    }
  }
}
