.movies {
  background: transparent url('../images/movies.png');
}
.concerts {
  background: transparent url('../images/concerts.png');
}
.comedies {
  background: transparent url('../images/comedies.png');
}
.classes {
  background: transparent url('../images/classes.png');
}
.festivals {
  background: transparent url('../images/festivals.png');
}
.music {
  background: transparent url('../images/music.png');
}
.sports {
  background: transparent url('../images/sports.png');
}
.theatre {
  background: transparent url('../images/theatre.png');
}
