.movies {
  background: #e45b58 url('../images/movies.png');
}
.concerts {
  background: #06b3db url('../images/concerts.png');
}
.comedies {
  background: #f38d68 url('../images/comedies.png');
}
.classes {
  background: #6239f7 url('../images/classes.png');
}
.festivals {
  background: #9432a3 url('../images/festivals.png');
}
.music {
  background: #e3b73e url('../images/music.png');
}
.sports {
  background: #bd53cd url('../images/sports.png');
}
.theatre {
  background: #dc3d66 url('../images/theatre.png');
}
