
.detailsCard {
  width: inherit;
}

.sectionStyle {
  padding: 0 10px;
}

.sectionName {
  margin-top: 20px;
  margin-bottom: 20px;
}

.sourcesList {
  margin-left: 10px;
  list-style-type: disc;
}
.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-aroun;
  .gridList {
    overflow-y: auto;
    overflow-x: hidden;
    margin-bottom: 24;
    div {
      width: 200px !important;
      margin: 0 10px !important;
    }
    .gridTile {
      height: 200px;
      width: 200px;
    }
  }
}
