@import '../../styles/site-settings';

.detailsCard {
  width: inherit;
  min-height: 256px;
  border-top: 5px solid #08bb6e;
}

.sliderPosition {
  padding: 0 10px;
  padding-top: 3px;
}

.root {
  padding: 0 !important;
  position: initial !important;
  .dots {
    width: inherit;
  }

  .cardPosition {
    width: 375px;
  }
}

.sectionStyle {
  padding: 20px 10px;
}

.innerSection{
  padding: 15px 0;
}

.sliderStyle {
  position: relative !important;
}
.arrows {
  display: block;
  height: 115px;
  line-height: 115px;
  border-radius: 2px;
  margin: 0px;
  color: #000;
  top: 50%;
  transform: translateY(-50%);
  font-size: 17px !important;
}

.logoStyle {
  height: 57px;
  @media (max-width: $resp_size_mobile) {
    display: none;
  }
}

.detailContent {
  flex: 1;
  margin-left: 20px;
  display: flex;
  align-items: flex-start;

  @media (max-width: $resp_size_mobile) {
    margin-left: 0px;
  }
  svg {
    color: rgba(255, 255, 255, 1) !important;
  }
  img {
    height: 10px;
    margin-top: 18px;
    @media (max-width: $resp_size_mobile) {
      display: none;
    }
  }
}

.rightArrowsStyle {
    background: white; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(90deg, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.5)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(90deg, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.5)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(90deg, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.5)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(90deg, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.5)); /* Standard syntax */
}

.leftArrowsStyle {
    background: white; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(-90deg, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.5)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(-90deg, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.5)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(-90deg, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.5)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(-90deg, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.5)); /* Standard syntax */
}

.sRightArrowsStyle {
  background-color: rgba(230,230,230,0.7);
  width: 35px;
  height: 70px;
  line-height: 70px;
  border-radius: 35px 0 0 35px;
  text-align: center;
}

.sLeftArrowsStyle {
  background-color: rgba(230,230,230,0.7);
  width: 35px;
  height: 70px;
  line-height: 70px;
  margin-left: 10px;
  border-radius: 0 35px 35px 0;
}


.imgStyle {
  height: 126px !important;
}

.sectionHeader {
  padding-left: 27px;
  background: #08bb6e;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px
}

.sectionContent {
  background: #fff;
  flex: 1;
  margin-left: 27px;

}

.sourcesList {
  width: 100%;
  display: flex;

  li {
    display: inline;
    float:left;
    padding: 0 20px;
    border-right: 2px solid #F1F1F1;

    &:last-child {
      border-right: none;
    }

    a {
      min-height: 40px;
      line-height: 40px;
      img {
        max-height: 21px;
      }
    }
  }


}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-aroun;
  .gridList {
    overflow-y: auto;
    overflow-x: hidden;
    margin-bottom: 24;
    div {
      width: 200px !important;
      margin: 0 10px !important;
    }
    .gridTile {
      height: 200px;
      width: 200px;
    }
  }
}
