$marginHor: 12px;
.search-field {
  background: white;

  box-shadow: inset 1px 1px 1px 0px rgba(0, 0, 0, 0.15); //oeew subtle
  border-radius: 4px;
  position: relative;

  input, div {
    font-size: 28px !important;
    color: $c_gr100 !important;
  }

  >div {
    position: relative;
  }

  div>div {
    top: 14px;
  }

  hr {
    display: none !important;
  }

  > span.searchIcon {

    width: 32px;
    height: 32px;

    display: block;
    position: absolute;
    left: 5px;
    top: 8px;

    background-size: cover !important;
    background-image: url('../images/searchIcon.png') !important;
  }

  > div {
    outline: 0 solid transparent; //contenteditable outline
    box-sizing: border-box;

    width: 100% !important; //overridden by react inline styles.. grrr
    overflow: hidden;

    text-align: left;
    padding: 6px 12px 4px 40px;

    > div { //actual placeholder as set by react textfield (opaquely..)
      top: 12px;
    }
  }
}

//home page overwrites
.js-index {
  .l-searchbox {
    display: inline-block;
    padding: 12px;
    width: 100%;
    max-width: 664px; //align nicely with example questions below
  }
  .search-field > div {
    max-height: 3.6em; //3 lines

    //extend max width on home page
    //max-width: 640px;

    > div {
      top: 14px; //
    }
  }
}
