# System
.DS_Store
*.swp
~*

# IDE
/.idea
/typings
jsconfig.json
typings.json
.tern-project

# NPM
/node_modules
/npm-debug.log

# Bower
/bower_components

# Webpack
/build
/webpack-stats.json
/webpack-records.json

# DB
/rethinkdb_data

# Project
#/local-config-private.yml
#/local-config-public.yml
