# System
.DS_Store
*.swp
~*

# IDE
/.idea
/typings
jsconfig.json
typings.json
.tern-project

# NPM
/node_modules
/npm-debug.log

# Bower
/bower_components

# Webpack
/build
/webpack-stats.json
/webpack-production-clientRecords.json

# DB
/rethinkdb_data

# SSL Certs
/certs

# horizon
horizon-cert.pem
horizon-key.pem

# saas
.sass-cache
