.dialog {
  padding-top: 0;
  .dialogClose {
    position: absolute;
    right: 24px;
    top: 14px;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
    min-width: 0;
    padding: 0;
    transition: .2s all ease;
    outline: none;

    &:hover {
      opacity: 1;
      text-shadow: none;
      background: none;
    }
  }

  .dialogTitle {
    text-align: center;
    background: deepskyblue;
    color: white !important;
    font-size: xx-large;
    margin-bottom: 25px !important;
  }

  .dialogBody {
    height: 500px;
  }

  .dialogContent {
    width: 100%;
    height: calc(100% - 160px);
    position: absolute;
    top: 80px;
    overflow-y: auto;
  }

  .dialogActionsBar {
    margin-top: 0 !important;
  }

}
