.root {
  padding: 0;
  min-width: 400px;
  position: absolute !important;
  top: 5% !important;
  .title {
    padding: 10px;
    font-size: large;
    background: #FF6D45;
    color: white;
  }
  .hr {
    margin-top: 0;
  }
  .dilogContainer {
    padding: 20px 20px;
  }
}
