@import "../../styles/shared";

.root {
  margin: auto;
  .collectionCardWide {
    margin-bottom: 50px;
  }
  .cardDescription {
    width: 100%;
    background-color: white;
    margin: 5px 0;
  }
  .cardDescriptionPlaceholder {
    padding-bottom: 0px;
    padding-top: 0px;
  }
  .formLayout {
    margin: auto;
    .formInput{
      margin-bottom: 0;
      padding-top: 0;
      label {
        top: 0;
      }
    }
  }
  .formPlaceholder {
    border: 1px dashed;
    input {
      border-bottom: none;
    }
  }
  .descriptionLabel {
    padding: 5px 0px 0px 5px;
    margin-top: 0;
    text-align: left;
  }
}
