.root {
  .radio {
    padding: 0 14px 0 20px;
    font-size: 12px;
  }
  .filterInput {
    text-transform: capitalize;
  }
  .selectBox {
    width: 100%;
  }
  .selectBoxLabel {
    display: initial;
  }
  .search {
    width: 100%;
    label {
      font-size: small;
    }
  }
  .extraFiltersBtn {
    float: right;
    font-size: xx-small;
    height: 25px;
    line-height: normal;
    margin-top: 20px;
    padding: 5px;
  }
  .suggestions {
    width: 100%;
    input {
      width: 100%;
    }
    ul {
      top: 0;
      width: 100%;
    }
  }
  .collectionList {
    width: 100%;
    padding: 0;
  }
  .card {
    min-height: 45px;
    width: 100%;
  }
  .noResults {
    text-align: center;
  }
  .cardList {
    width: 95%;
    margin: 5px auto;
    display: inline-block;
    position: relative;
    min-height: 20px;
    max-height: 100px;
    .cardImage {
      position: absolute;
      right: 0;
      top: 0;
      max-height: 100px;
    }
    .cardActions {
      padding: 0 10px;
      border-top: 1px solid;
    }
    .cardActionButton {
      float: left;
      font-size: xx-small;
      height: 25px;
    }
    .cardInfo {
      font-size: large;
    }
    .cardImage {
      width: 20%;
    }
  }
  .collectionFilterName {
    padding-left: 10px;
  }
  .pagination {
    margin: 20px 0;
    padding: 0;
    li {
      padding: 0;
    }
  }
}
