.root {
  .title {
    padding: 10px;
    font-size: large;
    background: #FF6D45;
    color: white;
  }
  .hr {
    margin-top: 0;
  }
  .dilogContainer {
    padding: 20px 20px;
  }
  .modalBody {
    padding: 0;
    min-width: 400px;
    position: absolute;
    top: 20px !important;
    max-height: calc(100vh - 80px);
    overflow-y: auto;
  }
}
