@import "../../styles/shared";

.root {
  margin: auto;
  width: 450px;
  .collectionCardUl {
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
    form {
      width: 100%;
    }
  }
  .clickCursor {
    cursor: move;
  }
}
