
.root {
  margin: auto;
  .collectionCardWide {
    margin-bottom: 50px;
  }
  .cardDescription {
    background-color: white;
    margin: 5px 0;
  }
  .collectionCardUl {
    list-style: none;
    margin: 0;
    padding: 0
  }
}

.bottomAddCardBtn {
  margin-top: -50px;
  margin-bottom: 70px;
}
