@import "../../styles/shared";

$marginHor: 12px;
.root {
  .formLayout {
    margin: auto;
    .formInput {
      margin-bottom: 0;
      padding-top: 0;
      label {
        top: 0;
      }
    }
  }

  .contentEditable {
    [contenteditable=true]:empty:before {
      content: attr(placeholder);
      display: block; /* For Firefox */
    }
  }

  .contentEditableTitle {
    font-size: 28px;
    line-height: 1.2em;
  }
  .contentEditableSubTitle {
    font-size: 20px;
    line-height: 1.2em;
  }

  .mediumEdit {
    border-bottom: 1px solid lightgray;
    outline: none;
  }
  .imgDropZone {
    border: 1px dashed;
    padding: 60px;
    div {
      text-align: center;
    }
  }
  .formPlaceholder {
    border: 1px dashed;
    input {
      border-bottom: none;
    }
  }
  .filledInput {
    border: none;
  }
  .titleLabel {
    font-size: x-large;
    padding-top: 10px;
  }
  .subTitleLabel {
    padding-top: 5px;
    margin-top: 0;
    font-size: larger;
  }
  .descriptionLabel {
    padding-top: 5px;
    margin-top: 0;
  }
  .colImage {
    width: 100%;
  }
  .hideDragZone {
    display: none;
  }
  .deleteImage {
    position: absolute;
    right: 7px;
    top: 14px;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
    min-width: 0;
    padding: 0;
    transition: .2s all ease;
    outline: none;

    &:hover {
      opacity: 1;
      text-shadow: none;
      background: none;
    }
  }

  .titleField, .semiTitleField {
    width: 100% !important;
    input[disabled] {
      color: black !important;
    }
  }

  .titleField {
    font-size: 28px !important;
  }
  .semiTitleField {
    font-size: 20px !important;
  }
}
