@import "shared";

$lg-screen-width: 1200px;
$md-screen-width: 992px;
$sm-screen-width: 768px;

@mixin adaptive_container {
  @media (min-width: $lg-screen-width) {
    @include custom-container(1170px);
  }

  @media (min-width: $md-screen-width) and (max-width: $lg-screen-width) {
    @include custom-container(970px);
  }

  @media (min-width: $sm-screen-width) and (max-width: $md-screen-width) {
    @include custom-container(750px);
  }
}
