/* ===========================
   Base (default overwrites / settings for Kwhen)

   Base rules determine the website's default and reset styling.
   They should include only:
   - single element selectors (html, body, form, a {}),
   - attribute selectors (input[type="text"] {}),
   - pseudo-class selectors (a:hover {}),
   - child selectors (ul li, {}, ul > li {})
   - sibling selectors (h2 ~ p {}).

   This should also include:
   - heading sizes
   - font styles,
   - default link styles
   - body background.

   =========================== */

body {
  background: $c_background !important;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

html, body, #react-app {
  overflow-x: hidden;
}


//react material design lib relies on box-sizing: inherit (default)
//instead of box-sizing: border-box
*, *::before, *::after {
    box-sizing: inherit;
}


.b_lightgray {
  background: #f6f6f6;
}

.b_red {
  background: #f00;
}

.b_green {
  background: #0f0;
}

.b_blue {
  background: #00f;
}

.c_green {
  color: $c_gr100;
}

ul, ol {
  font-size: 13px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.mdl-button {
  font-size: 13px;
}

h2 {
  color: rgba(0, 0, 0, 0.80); //up opacity from 0.54
}

form{
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
}

//fallback image to be placed on .card--media
.imgFallback {
  background-size: cover !important;
  background-image: url('../images/noImage.jpg') !important;

  &.in-card-map {
    background: none !important;
  }
}

//bit more subtle dropshadow on static header
.mdl-layout__header {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12), 0 2px 1px -2px rgba(0, 0, 0, 0.1);
}


///////
///footer

.page-content {
  min-height: 100%; //so that footer is at bottom
  min-height: calc(100% - 64px);
  padding-bottom:20px;
}
.footer {
  position: relative;

  color: #00cd75;

  padding: 1em;
  font-size: 12px;
  width: 100%;
  text-align: center;

  clear: both;
  z-index: 10;
  height: 40px;
  margin-top: -40px;

  @media (min-width: 640px) {
    text-align: right;
    right: 20px;
  }

  .l-indexPage & { //on index page use white color with green background
    color: rgba(#fff, .9);
    margin-top: -58px; //indexPage uses own hackish stretching so need to compensate
  }
}

/////////////////////
//slick carousel
.slick {
  &-list {
    margin-bottom: 5px;
  }
  &-slider {
    position: initial !important;
  }
  &-track {
    padding-bottom: 10px;
  }
  &-slide {
    height: auto !important;
  }
  &-dots {
    text-align: left;
    width: auto !important;
    position: initial;
    float: left;
  }
}


.h-floatRight {
  float: right;
}

.highlightedCard {
  z-index: 10;
  > div {
    outline: 2px solid $brightBlue; //just some nice clear blue
  }
}


.itemClassReorder.dragged {
  z-index: 1;
  opacity: 0.7;
  border: 1px solid teal;
}

.itemClassReorder.placeholder {
  visibility: hidden;
}

.infinite-grid .item {
  width: 100%;
}



//#121: fixes fixed header not working on production (due to <doctype> being defined on production)
//http://stackoverflow.com/questions/38083218/spot-the-css-difference-dev-vs-prod
body, #react-app, #react-app > div, #react-app > div > div {
  height: 100%;
}




