//MATERIAL DESIGN SETTINGS (IF NOT SET IT DEFAULTS TO LIB SETTINGS)
$card-height: 0; //NO DEFAULT WIDTH

$resp_size_mobile: 375px;
$resp_size_tablet: 640px;
$resp_size_desktop: 940px;

//SIZING
$wrapper_max_width: 1200px;

//COLORS
$c_gr100: #00cd75; //#21B02E;
$c_gr_dark: #00bf6c;
$c_bl: rgb(63, 81, 181); //blue link color
$c_background: #FAFAFA;

$main_text_color: #95a7b2;
$dark_text_color: #556670;

$brightBlue: #009DFF;
