a {
  color: $link-color;
  text-decoration: $link-decoration;

  @include hover-focus {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
    cursor: pointer;
  }

  &:focus {
    @include tab-focus();
  }
}