// bower:scss
// endbower

/////////////////////////////////////////////////////////////////
//WE FOLLOW CSS CONVENTIONS IS CONCISELY OUTLINED IN
//https://gist.github.com/wrumsby/8908260
////////////////////////////////////////////////////////////////////


//////////////////////////////
//IMPORT MATIARL DESIGN LITE

/* Site settings */
@import "site-settings"; //Our own defaults. Material Design Lite doesn't overwrite these. Neat.

// Variables and mixins
@import "../../node_modules/material-design-lite/src/variables";
@import "../../node_modules/material-design-lite/src/mixins";

// Resets and dependencies
@import "../../node_modules/material-design-lite/src/resets/resets";
@import "../../node_modules/material-design-lite/src/typography/typography";

// Components
@import "../../node_modules/material-design-lite/src/palette/palette";
// @import "../../node_modules/material-design-lite/src/ripple/ripple";
@import "../../node_modules/material-design-lite/src/animation/animation";
@import "../../node_modules/material-design-lite/src/badge/badge";
@import "../../node_modules/material-design-lite/src/button/button";
@import "../../node_modules/material-design-lite/src/card/card";
// @import "../../node_modules/material-design-lite/src/checkbox/checkbox";
// @import "../../node_modules/material-design-lite/src/data-table/data-table";
// @import "../../node_modules/material-design-lite/src/footer/mega_footer";
// @import "../../node_modules/material-design-lite/src/footer/mini_footer";
@import "../../node_modules/material-design-lite/src/icon-toggle/icon-toggle";
@import "../../node_modules/material-design-lite/src/menu/menu";
// @import "../../node_modules/material-design-lite/src/progress/progress";
@import "../../node_modules/material-design-lite/src/layout/layout";
// @import "../../node_modules/material-design-lite/src/radio/radio";
// @import "../../node_modules/material-design-lite/src/slider/slider";
// @import "../../node_modules/material-design-lite/src/spinner/spinner";
// @import "../../node_modules/material-design-lite/src/switch/switch";
@import "../../node_modules/material-design-lite/src/tabs/tabs";
// @import "../../node_modules/material-design-lite/src/textfield/textfield";
@import "../../node_modules/material-design-lite/src/tooltip/tooltip";
@import "../../node_modules/material-design-lite/src/shadow/shadow";
@import "../../node_modules/material-design-lite/src/grid/grid";

/* Base */
@import "base";

/* components */
@import "components/card";
@import "components/common";
@import "components/dropdown";
@import "components/ui-slider";
@import "components/tag";
@import "components/searchBox";
@import "components/filters";
@import "components/map";

/* Layouts / container components*/
@import "layout/cardgrid";
@import "layout/cardCarousel";


/* Page layouts */
@import "layout/header";
@import "layout/answerPage";
@import "layout/searchPage";
@import "layout/detailPage";
@import "layout/questionPage";


/* modifiers  (after layouts, because layouts may have modifiers too) */
@import "modifiers/cardModifiers";
@import "modifiers/cardResults";
@import "modifiers/mapbox";
@import "variables";
@import "functions";
@import "mixins";
@import "fonts";
@import "type";
@import "~bootstrap/scss/normalize";
@import "~bootstrap/scss/reboot";
@import "~react-mdl/extra/material.css";
@import "paggination";
@import "autosuggest";
@import "~react-pagify/style.css";
@import "~getmdl-select/getmdl-select.min.css";
@import "~medium-editor/dist/css/medium-editor.css";
@import "~medium-editor/dist/css/themes/default.css";
@import "../../bower_components/slick-carousel/slick/slick.css";
@import "../../bower_components/slick-carousel/slick/slick-theme.css";
@import url(https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.css);

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://fonts.gstatic.com/s/materialicons/v14/2fcrYFNaTjcS6g4U3t-Y5UEw0lE80llgEseQY3FEmqw.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.listClassReorder {

}
.itemClassReorder {

}
.itemClassReorder.dragged {
  z-index: 1;
  opacity:0.7;
  border: 1px solid teal;
}
.itemClassReorder.placeholder {
  visibility: hidden;
}

.slick-slider {
  min-height: 220px;
}

.slick-list {
  min-height: 220px;
  margin-bottom: 30px;
}

.slick-slide  {
  max-height: 200px;
}

.slick-track {
  min-height: 220px;
  padding-top: 10px;
}

.slick-dots {
  text-align: left;
}

.infinite-grid .item {
  width:100%;
}
