// bower:scss
// endbower
/////////////////////////////////////////////////////////////////
//WE FOLLOW CSS CONVENTIONS IS CONCISELY OUTLINED IN
//https://gist.github.com/wrumsby/8908260
////////////////////////////////////////////////////////////////////
//////////////////////////////
//IMPORT MATIARL DESIGN LITE
/* Site settings */
@import "site-settings";
//Our own defaults. Material Design Lite doesn't overwrite these. Neat.
// Variables and mixins
@import "../../node_modules/material-design-lite/src/variables";
@import "../../node_modules/material-design-lite/src/mixins";
// Resets and dependencies
@import "../../node_modules/material-design-lite/src/resets/resets";
@import "../../node_modules/material-design-lite/src/typography/typography";
// Components
@import "../../node_modules/material-design-lite/src/palette/palette";
// @import "../../node_modules/material-design-lite/src/ripple/ripple";
@import "../../node_modules/material-design-lite/src/animation/animation";
@import "../../node_modules/material-design-lite/src/badge/badge";
@import "../../node_modules/material-design-lite/src/button/button";
@import "../../node_modules/material-design-lite/src/card/card";
// @import "../../node_modules/material-design-lite/src/checkbox/checkbox";
// @import "../../node_modules/material-design-lite/src/data-table/data-table";
// @import "../../node_modules/material-design-lite/src/footer/mega_footer";
// @import "../../node_modules/material-design-lite/src/footer/mini_footer";
@import "../../node_modules/material-design-lite/src/icon-toggle/icon-toggle";
@import "../../node_modules/material-design-lite/src/menu/menu";
// @import "../../node_modules/material-design-lite/src/progress/progress";
@import "../../node_modules/material-design-lite/src/layout/layout";
// @import "../../node_modules/material-design-lite/src/radio/radio";
// @import "../../node_modules/material-design-lite/src/slider/slider";
// @import "../../node_modules/material-design-lite/src/spinner/spinner";
// @import "../../node_modules/material-design-lite/src/switch/switch";
@import "../../node_modules/material-design-lite/src/tabs/tabs";
// @import "../../node_modules/material-design-lite/src/textfield/textfield";
@import "../../node_modules/material-design-lite/src/tooltip/tooltip";
@import "../../node_modules/material-design-lite/src/shadow/shadow";
@import "../../node_modules/material-design-lite/src/grid/grid";
/* Base */
@import "base";
/* components */
@import "components/card";
@import "components/common";
@import "components/dropdown";
@import "components/ui-slider";
@import "components/tag";
@import "components/searchBox";
@import "components/filters";
@import "components/map";
/* Layouts / container components*/
@import "layout/cardgrid";
@import "layout/cardCarousel";
/* Page layouts */
@import "layout/header";
@import "layout/answerPage";
@import "layout/searchPage";
@import "layout/detailPage";
@import "layout/questionPage";
/* modifiers  (after layouts, because layouts may have modifiers too) */
@import "modifiers/cardModifiers";
@import "modifiers/cardResults";
@import "modifiers/mapbox";
@import "variables";
@import "functions";
@import "mixins";
@import "fonts";
@import "type";
@import "~bootstrap/scss/normalize";
@import "~bootstrap/scss/reboot";
@import "~react-mdl/extra/material.css";
@import "pagination";
@import "autosuggest";
@import "~react-pagify/style.css";
@import "~getmdl-select/getmdl-select.min.css";
@import "~medium-editor/dist/css/medium-editor.css";
@import "~medium-editor/dist/css/themes/default.css";
@import "../../bower_components/slick-carousel/slick/slick.css";
@import "../../bower_components/slick-carousel/slick/slick-theme.css";
@import url(https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.css);
/* Fonts */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500);

body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  overflow-x: hidden;

  @include media-breakpoint-up(sm) {
    overflow-y: hidden;
  }
}

.itemClassReorder.dragged {
  z-index: 1;
  opacity: 0.7;
  border: 1px solid teal;
}

.itemClassReorder.placeholder {
  visibility: hidden;
}

.slick-list {
  margin-bottom: 5px;
}

.slick-slider {
  position: initial !important;
}

.slick-track {
  padding-bottom: 10px;
}

.slick-slide {
  height: auto !important;
}

.slick-dots {
  text-align: left;
  width: auto !important;
  position: initial;
  float: left;
}

.infinite-grid .item {
  width: 100%;
}

.fixDots .slick-list{
  heigth: 155px;
}

.highlightedCard {
  z-index: 10;
      > div {
        outline: 2px solid $brightBlue; //just some nice clear blue
      }
}
