@import "../../styles/shared";

.root {
  :global(.dropdown-transition) {
    display: none;
  }

  :global(.react-selectize) {
    background: transparent !important;
    font-family: inherit !important;

    :global(.control) {
      transition: none !important;
      border-color: $color-border !important;
      padding: 4px 52px 3px 8px;

      :global(.arrow) {
        top: 17px;
      }
    }

    :global(.dropdown) {
      border-color: $color-border !important;
    }
  }

  :global(.open) {
    :global(.dropdown-transition) {
      display: block;
    }

    :global(.control) {
      border-color: $color-blue !important;
    }

    :global(.dropdown) {
      border-color: $color-blue !important;
    }
  }

  &.hasError {
    :global(.control) {
      border-color: $color-danger !important;
    }

    :global(.dropdown) {
      border-color: $color-danger !important;
    }
  }
}
