.root {

  padding: 0 24px 24px 24px;

  .collectionList {
    width: 100%;
    padding: 0;
  }
  .card {
    min-height: 45px;
    width: 100%;
  }
  .noResults {
    text-align: center;
  }
  .listItem {
    padding-left: 10px;
  }
  .cardStyle {
    width: 97%;
    margin-bottom: 10px;
  }
  .cardList {
    width: 95%;
    margin: 5px auto;
    display: inline-block;
    position: relative;
    min-height: 20px;
    max-height: 100px;
    .cardImage {
      position: absolute;
      right: 0;
      top: 0;
      max-height: 100px;
    }
    .cardActions {
      padding: 0 10px;
      border-top: 1px solid;
    }
    .cardInfo {
      font-size: large;
    }
    .cardImage {
      width: 20%;
    }
  }
  .collectionFilterName {
    padding-left: 28px;
  }
  .pagination {
    margin: 20px 0;
    padding: 0;
    li {
      padding: 0;
    }
  }
  .pagginationPosition {
    padding: 0;
    margin-bottom: 5px;
    margin-top: 20px;
    margin-left: 20px;

    span {
      font-size: small;
    }
  }

  .pagginationBottom {
    padding: 0;
    margin-bottom: 28px;
    margin-left: 10px;
    margin-right: 20px;
    border: 1px solid #b2b2b2;
  }

  .filterTitleSection {
    margin-bottom: 24px;
  }

  .arrowDown {
    margin-left: 4px;
    height: 9px;
    width: 14px;
    cursor: pointer;
  }

  .arrowRight {
    margin-left: 4px;
    margin-bottom: 3px;
    height: 14px;
    width: 9px;
    cursor: pointer;
  }
}
