.root {
  padding: 0 !important;
  position: initial !important;
  .dots {
    width: inherit;
  }
  .sliderPosition {
    padding: 0 10px;
    padding-top: 3px;
  }
  .cardPosition {
    width: 375px;
  }
}

.arrows {
  display: block;
}
.arrowsStyle {
  margin-top: -35px;
}

.showAllBtn {
  float: right;
  margin-right: 10px;
  margin-bottom: 4px;
  button {
    background-color: #00cd75 !important;
  }
}
