.formatedNumber {
  padding-bottom: 25px;
  width: 100%;
  height: 30px;
}

.kwhenGreen {
  color: #08bb6e !important;
}

.cardContent {
  width: 100%;
  .dataBits {
    margin-bottom: 0;
  }
}

.cardActions {
  display: inline-flex;
}

.deleteCardBtn {
  z-index: 10;
  position: absolute;
  top: -12px;
  right: -12px;
  button >div {
    background-color: beige;
  }
}

.background {
  background: none;
}

.placeholder {
  width: 27% !important;
}

.cardActionButton {
  float: left;
}

.cardIdentifierWrapper {
  display: table;
  height: 32px;
  > h2 {
    display: table-cell;
    vertical-align: middle;
  }
}

.saveCardBtn {
  color: #3f51b5 !important;
  font-weight: 500 !important;
  width: 80px !important;
  margin: -6px !important;
  //padding-right: 65px !important;
  font-size: 13px !important;
  display: inline-block !important;
  border-right: 1px solid rgba(0, 0, 0, 0.1) !important;
}

.imgBtn {
  margin: 0 auto;
}
