@import "../styles/shared";

.root {
  width: 95%;
  margin: 0 auto;
}
.cardStyle {
  @media(min-width: 700px) {
    >div {
      display: flex;
      flex-direction: row-reverse;
    }
  }
  .cardFlexGrow {
    flex-grow: 1
  }
}


.imageWrap {
  background-size: cover;
  background-position: center;
  @media(min-width: 700px) {
    width: 30%;
    flex-shrink: 0;
  }
  @media(max-width: 699px) {
    width: 100%;
    height: 200px;
  }
}

.newCollectionAdd {
  position: absolute;
  top: 20px;
  right: 40px;
}

.deleteCollection {
  position: absolute;
  right: 10px;
}

.cardsList {
  padding: 0 10px;
}

.pagination {
  margin: 20px 0 !important;
}

.pagginationPosition {
  padding-bottom: 50px;
}
