@import "../styles/shared";

.root {
  width: 95%;
  margin: 0 auto;
}
.cardStyle {
  width: 100%;
  padding: 0;
  margin-bottom: 10px;
}

.newCollectionAdd {
  float: right;
  top: 15px;
}

.deleteCollection {
  position: absolute;
  right: 10px;
}

.cardsList {
  padding: 0 10px;
}

.pagination {
  margin: 20px 0 !important;
}

.pagginationPosition {
  padding-bottom: 50px;
}
