.cardsList {
  width: 100%;
}

.carouselOverflowFix {
  position: initial !important;
}

.mainMap {
  display: flex;
  flex-direction: column;
}

.dropDownFilter {
  div div span {
    font-size: 13px !important;
  }
}

@media (min-width: 800px) {

  // .containerMargin {
  //   margin-top: 120px;
  //   height: 87vh;
  // }

  // .stickyHeader {
  //   position: fixed;
  //   top: 60px;
  //   .filters {
  //     margin-left: 5px;
  //     div div span{
  //       font-size: 13px !important;
  //       color: white !important;
  //     }
  //     button:hover {
  //         background-color: transparent !important;
  //     }
  //   }
  //   .bageFilter {
  //     padding: 0 10px 0 0 !important;
  //   }
  // }
}

.cardStyle {
  width: 100%;
  &:hover {
    border-top: 1px solid deepskyblue;
    border-bottom: 1px solid deepskyblue;
    box-shadow: none;
  }
  .slick-list {
    margin-bottom: 0;
  }
}

.carouselStyle {
}

.carouselStyle div.slick-list {
  height: 160px;
}

.is_opened {
  flex-grow: 1;
  position: relative !important;
}

.active {
      z-index: 10;
      > div {
        outline: 2px solid #009DFF; //just some nice clear blue
      }
}

.mobileFilters {
  top: 10px;
  right: 26px;
}

.showBackArrow {
  display: block;
}

.arrows {
    display: none;
    box-sizing: border-box;
    position: absolute;
    content: "";
    z-index: 999;
    background: rgba(0, 0, 0, 0.5);
    width: 40px;
    height: 80px;
    line-height: 80px;
    top: 50%;
    margin-top: -35px;
    color: white;
    text-decoration: none;
    font-size: 36px;
    transition: all 0.3s;
}

.searchResultsLabel {
  font-weight: 500;
  font-size: 18px;
  margin: 10px;
  text-align: left;
  display: flex;

  .resultLabel {
    flex: 1;
  }

  .resultType {
    // background: #ff0000;
    flex: 1;
    display: flex;
    justify-content: flex-end;

    .collectionType {
      background: #F5F5F5 url('../../images/collection-grey.png');
      background-repeat: no-repeat;
      background-position: center;
      width: 21px;
      height: 21px;
      padding: 10px;
      border: 2px solid #DCDCDC;
      border-right: none;
      border-radius: 3px 0 0 3px;
      @media (max-width: 425px) {
        padding: 5px;
      }
    }

    .mapType {
      background: white url('../../images/pin-green.png');
      background-repeat: no-repeat;
      background-position: center;
      width: 21px;
      height: 21px;
      padding: 10px;
      border: 2px solid #DCDCDC;
      border-radius: 0 3px 3px 0;
      @media (max-width: 425px) {
        padding: 5px;
      }
    }
  }
}
