.cardsList {
  width: 100%;
}

.carouselOverflowFix {
  position: initial !important;
}

.mainMap {
  display: flex;
  flex-direction: column;
}

.dropDownFilter {
  div div span {
    font-size: 13px !important;
  }
}

@media (min-width: 800px) {

  // .containerMargin {
  //   margin-top: 120px;
  //   height: 87vh;
  // }

  // .stickyHeader {
  //   position: fixed;
  //   top: 60px;
  //   .filters {
  //     margin-left: 5px;
  //     div div span{
  //       font-size: 13px !important;
  //       color: white !important;
  //     }
  //     button:hover {
  //         background-color: transparent !important;
  //     }
  //   }
  //   .bageFilter {
  //     padding: 0 10px 0 0 !important;
  //   }
  // }
}

.cardStyle {
  width: 100%;
  &:hover {
    border-top: 1px solid deepskyblue;
    border-bottom: 1px solid deepskyblue;
    box-shadow: none;
  }
  .slick-list {
    margin-bottom: 0;
  }
}

.carouselStyle {
}

.carouselStyle div.slick-list {
  height: 160px;
}

.is_opened {
  flex-grow: 1;
  position: relative !important;
}

.active {
      z-index: 10;
      > div {
        outline: 2px solid #009DFF; //just some nice clear blue
      }
}

.mobileFilters {
  top: 10px;
  right: 26px;
}

.showBackArrow {
  display: block;
}

.arrows {
    display: none;
    box-sizing: border-box;
    position: absolute;
    content: "";
    z-index: 999;
    background: rgba(0, 0, 0, 0.5);
    width: 40px;
    height: 80px;
    line-height: 80px;
    top: 50%;
    margin-top: -35px;
    color: white;
    text-decoration: none;
    font-size: 36px;
    transition: all 0.3s;
}
