.cardsList {
  width: 100%;
}

@media (min-width: 800px) {
  .containerMargin {
    margin-top: 60px;
  }

  .stickyHeader {
    position: fixed;
    top: 60px;
  }
}

.cardStyle {
  width: 100%;
  height: 150px;
  &:hover {
    border-top: 1px solid deepskyblue;
    border-bottom: 1px solid deepskyblue;
    box-shadow: none;
  }
}

.carouselStyle {
  height: 160px;
  margin-top: 70px;
}

.is_opened {
  height: 70% !important;
  position: relative !important;
}

.active {
      z-index: 10;
      > div {
        outline: 2px solid #009DFF; //just some nice clear blue
      }
}

.mobileFilters {
  top: 10px;
  right: 26px;
}

.showBackArrow {
  display: block;
}

.arrows {
    display: none;
    box-sizing: border-box;
    position: absolute;
    content: "";
    z-index: 999;
    background: rgba(0, 0, 0, 0.5);
    width: 40px;
    height: 80px;
    line-height: 80px;
    top: 50%;
    margin-top: -35px;
    color: white;
    text-decoration: none;
    font-size: 36px;
    transition: all 0.3s;
}

