.dialog {
  margin: 0 auto;
}

.dialogTitle {
  text-align: center;
  background: deepskyblue;
  color: white !important;
  font-size: xx-large;
  margin-bottom: 25px !important;
}

.dialogContent {
  padding: 0;
  padding-top: 80px;
}
