.root {
  .exampleQuestions {
    color: rgb(255, 64, 129);
    font-weight: 500;
    text-decoration: underline;
    font-size: initial;
  }
  .myCollectionsBtn {
    position: absolute;
    top: 10px;
    left: 10px;
  }
  .accountDropdown {
    position: absolute !important;
    top: 10px;
    right: 10px;
  }
}
