@mixin container($gutter: $grid-gutter-width, $responsive: false, $fluid: false, $max-widths: $container-max-widths) {
  margin-left: auto;
  margin-right: auto;
  padding-left: ($gutter / 2);
  padding-right: ($gutter / 2);

  @if not $fluid {
    @if $responsive {
      @each $breakpoint, $container-max-width in $max-widths {
        @include media-breakpoint-up($breakpoint) {
          max-width: $container-max-width;
        }
      }
    } @else {
      width: map-get($max-widths, xl);
    }
  }
}

@mixin row($gutter: $grid-gutter-width) {
  display: flex;
  flex-wrap: wrap;
  margin-left: ($gutter / -2);
  margin-right: ($gutter / -2);
}

@mixin col($ratios: 1, $offset: 0, $gutter: $grid-gutter-width) {
  position: relative;
  min-height: 1px;
  padding-left: ($gutter / 2);
  padding-right: ($gutter / 2);
  flex: 0 0 percentage($ratios);
  margin-left: percentage($offset);
}
