.sliderCard {
  width: auto;
  min-height: 205px;
}

.paginationCard {
  width: auto;
  min-height: 205px;
  min-width: 375px;
}

.paginationSection {
  margin-top:20px;
}

.topicHeader {
  margin-top: 25px !important;
}
